<% include Share/_header.ejs %>
<% include Share/_menu.ejs %>

<div id="CartPage">
	<div class="inner">
		<h1 class="cartCk"><%= check!="" ? "Checkout" : "Shopping Cart" %></h1>

		<% if(check!=""){ %>
		<div class="cartBlock">
	    <div class="blockHead">
	      <div class="bLeft"><%= cart["ads"]["blockTitle"][lgkey] %></div>
	      <div class="bRight"></div>
	    </div>
	    <div class="adsList clearfix">
		 		<% cart["ads"]["list"].forEach(function(ct,k){ %>
	    	<div class="adsBlock <% if(ct["isDefault"]){ %> active <% } %>">
	    		<div class="adsInner">
	    			<div class="adsTop">
		    			<span class="aName"><%= ct["uname"][lgkey]%></span>
		    			<span class="aPhone"><%= ct["phone"][lgkey]%></span>
		    		</div>
		    		<div class="adsInfo">
		    			<%= ct["address"][lgkey]%>
		    		</div>
		    		<div class="adsBottm">
		    			<a href="javascript:;" class="setDefault">Default</a>
		    			<div class="editBox">
		    				<a href="javascript:;" class="editBtn">Edit</a><span>|</span>
		    				<a href="javascript:;" class="editBtn">Delete</a>
		    			</div>
		    		</div>
	    		</div>
	    	</div>
		 		<% }) %>
		 		<a href="javascript:;" class="addAds">add shopping address</a>
	    </div>
    </div>
		<% } %>

		<div class="cartBlock <%= check!="" ? "ckCart" : "" %>">
	    <div class="blockHead">
	      <div class="bLeft"><%= check!="" ? "Order details" : "Product" %></div>
	      <div class="bRight">
	        <% if(check==""){ %><div class="orderInfo">Price</div><% } %>
	        <div class="orderInfo quan">Quantity</div>
	        <div class="orderInfo total">Subtotal</div>
	        <div class="orderInfo optin">&nbsp;</div>
	      </div>
	    </div>
	    <div class="orderList">
				<% cartList.forEach(function(obj,k){ %>
	    	<div class="oderRow" id="Odr<%=obj.id%>">
	    		<div class="wImg"><img src="/images/video/<%=obj.ctgid%>/featured/<%= obj.img %>" alt=""></div>
	    		<div class="wInfoBox">
		    		<div class="wInfo">
		    			<div class="wName">
		    				<%= obj["title"][lgkey] %>
		    				<div class="mobile mbPrice"><span><%= obj["price"][lgkey] %></span></div>
		    			</div>
		    			<div class="wOvs"><%= obj["ovs"][lgkey] %></div>
		    		</div>
		    		<div class="wCount">
		    			<% if(check==""){ %><div class="wnInfo wTotal"><span><%= obj["price"][lgkey] %></span></div><% } %>
		    			<div class="wnInfo wQuan" data-numb="<%= obj["numb"] %>">x<span><%= obj["numb"] %></span></div>
		    			<div class="wnInfo proTotal"><span><%= obj["price"][lgkey] %></span></div>
							<% if(check==""){ %>
		    			<div class="wnInfo cartEdit" data-ctgid="<%= obj["ctgid"] %>" data-id="<%= obj["id"] %>" data-row="Odr<%=obj.id%>">
		    				<div class="delt">Remove</div>
		    				<div class="cartLike">Add to Wishlist</div>
		    			</div>
							<% } %>
		    		</div>
	    		</div>
	    	</div>
				<% }) %>
	    </div>
	    <div class="wMore">
				<% if(check!=""){ %>
	    	<div class="msg">
	    		<span>Message</span><input type="text" id="MsgIpt">
	    	</div>
				<% } %>
	    	<div class="totals">
	    		<span>Total</span><em>￥<i><%=total%></i></em>
	    	</div>
	    </div>
    </div>

		<% if(check!=""){ %>
		<div class="cartBlock payBox">
	    <div class="blockHead">
	      <div class="bLeft">Payment</div>
	      <div class="bRight"></div>
	    </div>
	    <div class="payList">
	    	<ul>
	    		<li>
	    			<a href="javascript:;" class="payType cod active"><span>Cash on delivery (COD)</span></a>
	    		</li>
	    		<li>
	    			<a href="javascript:;" class="payType alipay"><span>Alipay</span></a>
	    		</li>
	    		<li>
	    			<a href="javascript:;" class="payType wechat"><span>WeChat Pay</span></a>
	    		</li>
	    	</ul>
	    </div>
    </div>
		<% } %>

  	<div class="btnBox">
  		<div class="bbInner">
    		<div class="total mobile">
    			Total: ￥<span><i><%=total%></i></span>
    		</div>
		<% if(check==""){ var fqr=fqr ? "&fqr=true&ctgid="+getCtgid : "", add=add? "&add=all&ctgid="+getCtgid : "" %>
				<a href="/cart?ct=check<%=fqr%><%=add%>" class="add2Cart ptBtn"><span>Proceed to Checkout</span></a> 
		<% }else{ %>
				<a href="/order" class="add2Cart ptBtn"><span>Proceed with Payment</span></a>
				<% } %>
			</div>
		</div>

	</div>
</div>

<% include Share/_footer.ejs %>