<% include Share/_header.ejs %>
<% include Share/_menu.ejs %>

<script src="/javascripts/qrcode/jquery.qrcode.min.js"></script>
<script src="/javascripts/qrcode/qrcode.js"></script>

<div id="VideoBox">
	<div class="inner clearfix">
		<div class="video">
			<div class="fltBox clearfix">
				<div class="wqr">
					<div id="QRcode" data-ctgid="<%= wine["ctgId"] %>"></div>
					<div class="qrSmall"></div>
				</div>
				<div class="wineAdd">
					<p class="addHd"><%= langs["add2Cart"][lgkey] %>!</p>
					<p class="addOvs"><%= langs["scanQR"][lgkey] %></p>
				</div>
			</div>
			<iframe class="iframe" src="<%= wine["videoLink"] %>" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
		<div class="videoRight">
			<div class="vrInner">
				<div class="vrTop">
					<a href="/blogger/<%= wine["ctgId"] %>"><img src="/images/wine/portrait1.png" class="portrait" alt=""></a>
					<div class="vrtRight">
						<div class="wCtgName"><a href="/blogger/<%= wine["ctgId"] %>"><%= wine["ctgName"][lgkey] %></a></div>
						<div class="flwNumb">61,351 <%= langs["followers"][lgkey] %></div>
						<a href="javascript:;" class="flwBtn"><span><%= langs["follow"][lgkey] %></span></a>
					</div>
				</div>
				<ul class="ctgMList mbHide">
					<% related["list"].forEach(function(rl,k){ %>
					<li>
						<a href="javascript:;">
							<img src="/images/wine/cImg101.png" alt="">
							<p class="cInfos">
								<span class="cName"><%= rl["title"][lgkey] %></span>
								<span class="cView">5,600 <%= langs["views"][lgkey] %></span>
							</p>
						</a>
					</li>
					<% }) %>
				</ul>
				<a href="javascript:;" class="ctmBtn mbHide"><span></span></a>
			</div>
		</div>
	</div>
</div>
<div class="pages inner clearfix">
	<div class="detailLeft">
		<div class="wineDtl">

			<div class="wTop">
				<h1 class="wTitle">
					<span class="wTInfo"><%= wine["ctgTitle"][lgkey] %></span>
					<span class="wvws">474,747 <%= langs["views"][lgkey] %></span>
				</h1>
				<div class="wUpload"><%= langs["upload"][lgkey] %>: <%= langs["May"][lgkey] %> 27, 2016</div>
			</div>
			<div class="wOverview">
				<div class="ovBox"><%= wine["detail"][lgkey] %></div>
				<a href="javascript:;" class="openBtn"><%= langs["openMore"][lgkey] %></a>
			</div>

			<div class="shareBox clearfix">
				<div class="shareLeft">
					<a href="javascript:;"><%= langs["bookmark"][lgkey] %></a>
					<span>|</span>
					<a href="javascript:;" class="shareBtn"><%= langs["share"][lgkey] %></a>
				</div>
				<div class="shareRight">
					<span class="like">13,907</span>
					<span class="unlike">341</span>
				</div>
				<div class="shareMain">
					<div class="smInner">
						<div class="shareArrow"></div>
						<!-- JiaThis Button BEGIN -->
						<div class="jiathis_style_32x32">
							<a class="jiathis_button_fb">Facebook</a>
							<a class="jiathis_button_tsina">Weibo</a>
							<a class="jiathis_button_weixin">WeChat Friend</a>
							<a class="jiathis_button_weixin weChatMoment">WeChat Moment</a>
						</div>
						<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
						<!-- JiaThis Button END -->
						<div class="cpLink">
							<input type="text" name="CopyLink" readonly="" class="cpIpt" value="http://www.360shopping.com">
							<a href="javascript:;" class="cpBtn"><%= langs["copyLink"][lgkey] %></a>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<!-- 移动版显示 -->
		<div class="mobile coming">
				<div class="blockHead">
		      <div class="bLeft"><%= related["head"][lgkey] %></div>
		      <div class="bRight"></div>
		    </div>
		    <ul class="ctgMList">
					<% related["list"].forEach(function(rl,k){ %>
					<li>
						<a href="javascript:;">
							<img src="/images/wine/cImg101.png" alt="">
							<p class="cInfos">
								<span class="cName"><%= rl["title"][lgkey] %></span>
								<span class="cView">5,600 <%= langs["views"][lgkey] %></span>
							</p>
						</a>
					</li>
					<% }) %>
				</ul>
	      <div class="mobile liMore">
	        <a href="javascript:;" class="mBtn liPrev"><span>prev</span></a>
	        <a href="javascript:;" class="mBtn liNext"><span>next</span></a>
	      </div>
		</div>
		<!-- /移动版显示 -->

		<div class="productBox">
			<div class="blockHead">
	      <div class="bLeft"><%= wine["proTitle"][lgkey] %></div>
	      <div class="bRight">
	        <a href="/cart?add=all&ctgid=<%= wine["ctgId"] %>" class="addAllBtn"><span><%= langs["addAll"][lgkey] %></span></a>
	       <!--  <a href="javascript:;" class="addAllBtn"><span><%= langs["addAll"][lgkey] %></span></a> -->
	      </div>
	    </div>
	    <div class="proList">
	    	<ul class=" col-<%= wine["colNumb"]?wine["colNumb"]:3 %>">
  				<% wine["product"].forEach(function(pro,key){ %>
	    		<li class="p_<%=key%> <%=(key)%wine["colNumb"]<=0?'fRow':'' %>">
	    			<div class="proImg"><img src="/images/wine/wine<%= pro["id"] %>.jpg" alt=""></div>
	    			<div class="pDtl">
		    			<a href="javascript:;" class="pTitle"><%=pro["title"][lgkey] %></a>
		    			<div class="pLike">
		    				<span class="price"><%=pro["price"][lgkey] %></span>
		    				<span class="proLikeBtn"></span>
		    			</div>
		    			<a href="javascript:;" class="add2Cart <%- pro["stock"]<=0?"noStock":"" %>" data-ctgid="<%= wine["ctgId"] %>" data-id="<%= pro["id"] %>" data-price="<%= pro["unit_price"] %>"><span><%- pro["stock"]<=0?langs["noStock"][lgkey]: langs["add2Cart"][lgkey] %></span></a>
	    			</div>
	    		</li>
  				<% }) %>
	    	</ul>
	      <div class="mobile liMore">
	        <a href="javascript:;" class="mBtn liPrev"><span>prev</span></a>
	        <a href="javascript:;" class="mBtn liNext"><span>next</span></a>
	      </div>
	    </div>
		</div>
		
		<div class="commentBox">
			<div class="blockHead">
	      <div class="bLeft"><%= langs["comments"][lgkey] %>(5,935)</div>
	      <div class="bRight"></div>
	    </div>
			<div class="cmtBlock">
				<div class="cmtIpt">
					<img src="/images/userHead.png" class="cmtHead" alt="">
					<div class="txtArea">
						<textarea name="" id="" class="" cols="30" rows="10" placeholder="<%= langs["writeCmt"][lgkey] %>"></textarea>
					</div>
					<a href="javascript:;" class="postBtn"><span><%= langs["post"][lgkey] %></span></a>
				</div>
			</div>
			<div class="cmtList">
				<div class="cmtType">
					<a href="javascript:;" class="active"><%= langs["topCmt"][lgkey] %></a><span>|</span>
					<a href="javascript:;"><%= langs["newest"][lgkey] %></a>
				</div>
				<!--cmts-->
				<div class="cmts">
					<!--cmtsBlock-->
					<% for(var c=0;c<2;c++){ %>
					<div class="cmtsBlock">
						<img src="/images/userHead.png" class="cmtHead" alt="">
						<div class="cmtCont">
							<div class="cmtUser">
								<span class="cmtName">Name A</span> - 2 <%= langs["dago"][lgkey] %>
							</div>
							<div class="cmtInfos">
								Ok wait! I just had a cool idea, what about make a ring for each of the spiritual stones from Ocarina Of Time! I am so going to make that!
							</div>
							<div class="replys">
								<span class="rpNumb"><%= langs["reply"][lgkey] %>(12)</span>
								<span class="cmtLike">(8)</span>
							</div>
							<!--subCmt-->
							<div class="subCmt">
								<div class="cmtsBlock">
									<img src="/images/userHead.png" class="cmtHead" alt="">
									<div class="cmtCont">
										<div class="cmtUser">
											<span class="cmtName">Name A</span> - 2 <%= langs["dago"][lgkey] %>
										</div>
										<div class="cmtInfos">
											Ok wait! I just had a cool idea, what about make a ring for each of the spiritual stones from Ocarina Of Time! I am so going to make that!
										</div>
										<div class="replys">
											<span class="rpNumb"><%= langs["reply"][lgkey] %>(12)</span>
											<span class="cmtLike">(8)</span>
										</div>
									</div>
								</div>
								<a href="javascript:;" class="moreReply"><%= langs["mrReply"][lgkey] %> (5) > </a>
							</div>
							<!--/subCmt-->
						</div>
					</div>
					<% } %>
					<!--/cmtsBlock-->

				</div>
				<!--/cmts-->
			</div>
		</div>

		<div class="paging">
			<img src="/images/paging.png" alt="">
		</div>

	</div>

	<div class="detailRight mbHide">

		<div class="recBlock">
			<div class="recInner">
				<div class="recHead"><%= otherVideo["title"][lgkey] %></div>
				<div class="recList">
					<% otherVideo["list"].forEach(function(obj,k){ %>
					<div class="recRow">
						<div class="recImg"><img src="/images/wine/rec1.jpg" alt=""></div>
						<div class="recInfo">
							<div class="recTitle"><%= obj["title"][lgkey] %></div>
							<div class="recVews">
								<p>5,666 <%= langs["views"][lgkey] %></p>
								<p>5,666 <%= langs["dago"][lgkey] %></p>
							</div>
						</div>
					</div>
					<% }) %>
				</div>
				<a href="javascript:;" class="recMore"><span><%= langs["showMore"][lgkey] %></span></a>
			</div>
		</div>

		<div class="recBlock">
			<div class="recInner">
				<div class="recHead"><%= uMayLike["title"][lgkey] %></div>
				<div class="recList">
					<% uMayLike["list"].forEach(function(obj,k){ %>
					<div class="recRow">
						<div class="recImg"><img src="/images/wine/rec1.jpg" alt=""></div>
						<div class="recInfo">
							<div class="recTitle"><%= obj["title"][lgkey] %></div>
							<div class="recVews">
								<p>5,666 <%= langs["views"][lgkey] %></p>
								<p>5,666 <%= langs["dago"][lgkey] %></p>
							</div>
						</div>
					</div>
					<% }) %>
				</div>
				<a href="javascript:;" class="recMore"><span><%= langs["showMore"][lgkey] %></span></a>
			</div>
		</div>

	</div>

</div>

<script src="/javascripts/add2cart.js"></script>

<% include Share/_footer.ejs %>