
	     <footer>
	     		<div class="inner">
		     		<div class="ftRow clearfix">
		     			<div class="selLng">
		     				<span><%=langs['language'][lgkey] %></span>
				     		<select name="Language" id="Language">
				     			<option value="1"  data-lg="en" <%= lgkey==1?"selected":"" %> >English</option>
				     			<option value="2" data-lg="zh" <%= lgkey==2?"selected":"" %> >中文</option>
				     		</select>
		     			</div>
		     		</div>
		     		<div class="ftRow clearfix">
			        <ul class="ftMenu">
			         <% footerMenu.forEach(function(m,k){ %>
			         <li>
			         <% if(m['multi']){%>
			          <%= m['multi'][lgkey] %>
			            <ul>
			              <% m['sublevel'].forEach(function(sm,key){ %>
			              <li><a href=""><%= sm[lgkey] %></a></li>
			              <% }) %>
			            </ul>
			         <% }else{ %>
			          <a href=""><%= m[lgkey] %></a>
				 				<span class="mCut">|</span>
			         	<% }%>
			         	</li>
			         	<%}) %>
			         </ul>
			         <div id="Copyright"><%=langs['copyright'][lgkey] %></div>
		     		</div>
	     		</div>
	     </footer>
     </div>
  </body>
</html>
