
	     <footer>
	     		<div class="inner">
		     		<div class="ftRow clearfix">
		     			<div class="selLng clearfix">
		     				<span class="lgTip"><%=langs['language'][lgkey] %></span>
		             <div class="selBlock">
		                 <div class="selHtm"><%= lgkey==1?"English":"中文" %></div>
		                 <input type="hidden" value="<%= lgkey %>" id="Language" name="Language" class="selVal">
		                 <ul class="selList">
		                     <li data-value="1" data-lg="en">English</li>
		                     <li data-value="2" data-lg="zh">中文</li>
		                 </ul>
		             </div>
		     			</div>
		     			<div class="mobile copyright"><%=langs['copyright'][lgkey] %></div>
		     			<a href="/" id="FtLogo"><span>360 shopping channel</span></a>
		     		</div>
		     		<div class="ftRow clearfix mbHide">
			        <ul class="ftMenu">
			         <% footerMenu.forEach(function(m,k){ %>
			         <li>
			         <% if(m['multi']){%>
			          <%= m['multi'][lgkey] %>
			            <ul>
			              <% m['sublevel'].forEach(function(sm,key){ %>
			              <li><a href="<%= sm[0] %>"><%= sm[lgkey] %></a></li>
			              <% }) %>
			            </ul>
			         <% }else{ %>
			          <a href="<%= m[0] %>"><%= m[lgkey] %></a>
				 				<span class="mCut">|</span>
			         	<% }%>
			         	</li>
			         	<%}) %>
			         </ul>
			         <div id="Copyright"><%=langs['copyright'][lgkey] %></div>
		     		</div>
	     		</div>
	     </footer>
     </div>
  </body>
</html>
