<header>
	<div class="clearfix">
		<div id="LeftMenu">
			<a href="javascript:;" id="MenuBtn" class=""><span>left memu</span></a>
		</div>
		<a href="/" id="Logo"><span>360 shopping channel</span></a>
		<ul id="Menu" class=" clearfix">
		 <% menu.forEach(function(m,k){ %>
		 <% if(k>2){%>
				<li class="<%- m['multi'] ? 'multi':'' %>">
					<% if(m['multi']){%>
						<a href='#' class="mLink hasSub"><%= m['multi'][lgkey] %></a>
						<div class="subBox">
							<div class="subArrow">subArrow</div>
					    <ul class="subMenu">
					      <% m['sublevel'].forEach(function(sm,key){ %>
					      <li><a href="#"><span><%= sm[lgkey] %></span></a></li>
					      <% }) %>
					    </ul>
				    </div>
			 		<% }else{ %>
						<a href="<%= m[0]=='tp_cart'?'cart':'' %>" class="mLink"><span><%= m[lgkey] %></span></a>
			 		<% }%>
					<% if(m[0]=="tp_cart"){%>
			 		<span class="cartConut" data-val="0">0</span>
					<% } %>
			 		<span class="mCut">|</span>
				</li>
		 <% }}) %>
		</ul>
		<div class="searchBox">
				<div class="iptBlock">
					<input type="text" value="" class="iptSearch" placeholder="<%=langs['sch_want'][lgkey] %>">
				</div>
				<a href="javascript:;" class="btns searchBtn"><span><%=langs['search'][lgkey] %></span></a>
		</div>
	</div>
</header>
<div id="SlideMenu">
	<ul>
		 <% menu.forEach(function(m,k){ %>
		 <% if(k<=2){%>
		<li>
			<a href="#" class="mLink <%= k==0?'active':'' %>"><span><%= m[lgkey] %></span></a>
		</li>
		 <% }}) %>
	</ul>
</div>
